.change-subject-modal-container-teacher-select {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 400px;
  padding: 10px;
}

.change-subject-modal-container-teacher-select .ant-radio-button-wrapper{
  border-radius: 0px !important;
}