.selected-teacher-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  height: 680px;
}

.teacher-info {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  row-gap: 2px;
  justify-self: stretch;
}
.teacher-info > span{
  margin-bottom: 5px;
}
.teacher-search-button {
  position: relative;

}
.teacher-search-button:hover::after{
  content: "Buscar docente";
  position: absolute;
  right: -85px;

}
.selected-teacher-container>img {
  width: 180px;
  height: auto;
  justify-self: center;
}

.teacher-name {
  font-size: 1.3rem;
  font-weight: 700;
  width: 100%;
}

