
.proyecciones-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "table table selected selected"
    "table table selected selected"
    "table table selected selected"
    "table table selected selected"
    "footer footer footer footer"
    "footer footer footer footer"
    "footer footer footer footer"
    "footer footer footer footer"
  ;
  height: 100vh;
  column-gap: 5px;
  overflow: hidden;
}

.title-bar-container {
  background-color: #001529;
  color: white;
  padding: 10px;
}



/* #001529;*/