
.proyecciones-container {
  display: grid;
  grid-template-areas:
    "header header header header"
    "table table selected selected"
    "table table selected selected"
    "table table selected selected"
    "table table selected selected"
    "footer footer footer footer"
    "footer footer footer footer"
    "footer footer footer footer"
    "footer footer footer footer"
  ;
  grid-template-columns: 4fr 4fr 4fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  column-gap: 5px;
  overflow: hidden;
  position: relative;
}

.title-bar-container {
  background-color: #001529;
  color: white;
  padding: 10px;
  max-height: 50px;
}

.subjects-list-container-grid{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 5px;
  width: 87vw;
  padding: 10px;
  height: calc(100vh - 100px);
}

.subject-tab:hover {
  filter: brightness(0.9);
}
.subject-tab-button:hover{
  cursor: pointer;
  scale: 1.2;
}


/* #001529;*/