.schedule-table {
  border-collapse: collapse;
  width: 95%;
}

.schedule-table th, .schedule-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  width: calc(100% / 7);

}

.schedule-table tr:not(.schedule-table-header),
.schedule-table td {
  height: 90px !important;
}



.cell-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.subject {
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 4px;
}

.teacher {
  font-size: 0.7em;
  margin-bottom: 4px;
}

.classroom {
  font-size: 0.6em;
}