/* SchoolSchedule.css */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.calendar-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* Elimina el fondo amarillo del día actual */
.fc-day-today {
  background-color: transparent !important;
}
.fc-col-header-cell-cushion{
  color: #000;
}
.fc-timegrid-event {
  border: 1px solid #000408;
  background-color: white;
  border-radius: 4px;
}
.fc-timegrid-event-harness,
.fc-timegrid-event {
  width: 101.3% !important;
  
}
.fc-event-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  background-color: #f9fafa;
  border-radius: 4px;
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  height: 100%;
}

.fc-event-custom div {
  text-align: center;
}

/**/

.schedule-select-main-container{
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.schedule-select-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: end;
}

.schedule-select{
  display: flex;
  flex-direction: column;
}