@media print {
    @page {
      size: Letter;
      margin: 1cm;
      size: landscape; 
    }
    .header {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      background: white;
      z-index: 1000;
      padding-bottom: 20px;
      background-color: white !important;
      width: 110%;
      height: 90px;

    }
    .content {
     padding-top: 200px;
    }
    .page-break {
      page-break-before: always;

    }
    .teacher-row {
      page-break-inside: avoid;
    }
  }